body{
    background: #fff;
}
#formPersonagens{
    padding: 5px;
}

#menu{
    background: #ddd;
    border: 1px;
    width: 148px;
    border-radius: 5px;
    padding: 2px;
    
}

table{
    border: solid 1px black;
    border-radius: 5px;
}
td{
    border: solid 1px black;
    padding: 10px;
}

#tbl_personagens{
    border-color: black;
    background: #fff;
    padding: 10px;
}

#tbl_categorias td{
    border-color: blue;
    background: #eee;
}
